[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
drf-yasg = "*"
pillow = "*"
python-decouple = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
chapa = "*"
requests = "*"
firebase-admin = "*"
django-otp = "*"
twilio = "*"
python-dotenv = "*"
africastalking = "*"
drf-nested-routers = "*"

[dev-packages]

[requires]
python_version = "3.12"
